$clr-primary:
$clr-accent:
$clr-neutral:

$ff-primary:

$ff-body var($ff-primary)
$ff-heading: var($ff-primary)

$fw-regular:
$fw-semi-bold:
$fw-bold:

$fs-100:
$fs-200:
$fs-300:
$fs-400:
$fs-500:
$fs-600:

$fs-body:
$fs-primary-heading:
$fs-secondary-heading:
$fs-nav:
$fs-button: